{% load my_extras %}

<!-- Modal -->
<div class="modal fade" id="selectCreatePlaceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Selecciona donde quieres crear el post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-4">
              <a class="btn btn-outline-info" href="{% url 'Posts:create_user_post' %}">En mi perfil</a>
            </div>
            <div class="col-8">
              <select class="custom-select" onchange="location = this.value;">
                <option selected>Selecciona un grupo</option>
                {% for group in request.user.pk|approved_group_list %}
                  <option value="{% url 'Posts:create_post' slug=group.group.slug %}" class="dark_select_option">
                    {{ group.group.name }}
                  </option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>