{% load widget_tweaks %}

<form method="post" action="">
    {% csrf_token %}

    <div class="modal-header">
        <h3 class="modal-title">Eliminar comentario</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <p class="delete-text">¿Eliminar permanentemente el comentario?</p>
        <div class="row">
            <div class="col centerstage">
                <p>
                    <strong>{{ comment.text }}</strong> 
                </p>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="delete-btn btn btn-danger">Borrar</button>
    </div>

</form>