{% load icons %}

<!-- Modal -->
<div class="modal fade" id="moreInfoModal" tabindex="-1" role="dialog" aria-labelledby="moreInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="moreInfoModalLabel">Mas informacion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="">
                    <b>Redes de contacto:</b>
                    {% for link in user.links.all %}
                    <p>
                        <a class="" href="{{ link }}">{% icon 'link' %} {{ link }}</a>
                    </p>
                    {% endfor %}
                </div>
                <div class="">
                    <div>
                        <b>Acerca de mi:</b>
                        <p>{{ user.profile.about_me }}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>