<div>
    <!-- Modal -->
    <div class="modal fade" id="updateWallMessage" tabindex="-1" role="dialog" aria-labelledby="updateWallMessageLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateWallMessageLabel">Editar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <p class="">
                            <textarea name="text" class="form-control" id="wallMessage-textArea" rows="3" placeholder="Editar texto" maxlength="256"></textarea>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" id="btnSaveWallMessage" class="btn btn-primary" data-url="" data-id="">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>