{% load my_extras %}
{% load icons %}
{% if group.group_type == '1' or group.user == request.user or group.slug|check_for_member_status:request.user.id %}
    <a class="btn btn-secondary" href="{% url 'Groups:members' slug=group.slug %}">
        {% icon 'users' %} Miembros <span class="badge badge-light">{{ group.slug|approved_members_list|length|add:'-1' }}</span>
    </a>&nbsp;
    <a class="btn btn-secondary" href="{% url 'Groups:posts_group' slug=group.slug %}">
        {% icon 'pencil' %} Posts <span class="badge badge-light">{{ group.posts.all|length }}</span>
    </a>&nbsp;

{% endif %}
