{% load icons %}
{% load my_extras %}

<li class="list-group-item list-group-item-action list-group-item-dark d-flex justify-content-between align-items-center">
        <div class="col-auto mr-auto">
            <a href="{% url 'Accounts:detail_profile' user.pk %}">
                {{ user.username }}
            </a> 
        </div>
        <div class="col-auto">            
            {% if group.user == request.user %}
                {% if group.slug|check_for_member_status:user.id == False %}
                <a class="btn btn-success" href="{% url 'Groups:membership_action' slug=group.slug pk=user.pk action=1 %}">
                    {% icon 'user-plus' %}
                </a>    
                {% endif %}
            <a class="btn btn-danger" href="{% url 'Groups:membership_action' slug=group.slug pk=user.pk action=2 %}">
                {% icon 'user-times' %}
            </a>
            {% endif %}
        </div>

</li>