{% load icons %}



<div class="comment-content-div media">
    <img style="width: 100px;" src="https://1.bp.blogspot.com/-J672hhVil2c/VcRmz4BdOPI/AAAAAAAAMw4/w51C3ULbdRU/s200/blogger-re-size-crop-photo.jpg" class="mr-3" alt="...">
    <div class="media-body">
        <h5 class="mt-0">
            <a href="{% url 'Groups:detail_group' slug=group.slug %}">
                {% if group.group_type == '1' %}
                    {% icon 'unlock' %}
                {% else %}
                    {% icon 'lock' %}
                {% endif %}
                {{ group.name }}
            </a>
            ({{ group.get_category_display }})
        </h5>
        <div class="container">
            <div class="row">
                <a class="btn btn-secondary" href="{% url 'Accounts:detail_profile' pk=group.user.pk %}">
                    de <span class="badge badge-light">{% icon 'user' %} {{ group.user.username }}</span>
                </a>&nbsp;
                {% include 'Groups/_generic_nav_buttons.html' %}

            </div>
        </div>
    </div>
</div>