{% extends 'Groups/group_base.html' %}

{% block group_content %}
{% load icons %}
{% load my_extras %}
    <div class="bg-dark comment-content-div">

    
        <div class="">
            <img class="rounded float-left" src="https://1.bp.blogspot.com/-J672hhVil2c/VcRmz4BdOPI/AAAAAAAAMw4/w51C3ULbdRU/s200/blogger-re-size-crop-photo.jpg" alt="Generic placeholder image img-thumbnail">
        </div>
        <div class="">
            <div class="d-flex justify-content-center">
                <h1 class="text-center">{{ group.name }} 
                    {% if group.user == request.user %}
                    <a data-id="{% url 'Accounts:update_profile' user.pk %}" id="update_group_btn"  class="" href="#">
                        {% icon 'cog' %}
                    </a>
                    {% endif %}
                </h1>
            </div>
            <div class="d-flex justify-content-center">
                <a href="#" class="badge badge-info">Grupo {{ group.get_group_type_display }}</a>
                <a href="#" class="badge badge-info">de {{ group.get_category_display }}</a>
                <a href="{% url 'Accounts:detail_profile' group.user.pk %}" class="badge badge-info">por {{ group.user }}</a>
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <div class="row">
                    {% include 'Groups/_generic_nav_buttons.html' %}
        
                    {% if group.user == request.user %}
                    <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#inviteMemberModal">
                        {% icon 'user-plus' %} Invitar
                    </button>&nbsp;
                    {% endif %}
                    {% if request.user in group.members.all %}
                        {% if group.user == request.user %}
                        <a  class="btn btn-outline-danger" href="{% url 'Groups:delete_group' slug=group.slug %}">{% icon 'trash' %} Eliminar grupo</a>&nbsp;
                        {% else %}
                        <a class="btn btn-outline-info" href="{% url 'Groups:join' pk=group.pk %}">{% icon 'times' %} Dejar grupo</a>&nbsp;
                        {% endif %}
                    {% else %}
                        <a class="btn btn-outline-info" href="{% url 'Groups:join' pk=group.pk %}">{% icon 'rocket' %} Unirse</a>
                    {% endif %}
                </div>
            </div>    
        </div>
        
        <div class="accordion bg-dark" id="accordionDescription">
            <div id="headingOne">
                <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" href="">
                    Ver descripcion
                </a>
            </div>
            
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionDescription">
                <div class="row">
                    <p class="col centerstage">
                        {{ group.description }}
                    </p>
                </div>
            </div>
        </div>
        <hr>
        <div class="">
            {% if group.slug|check_for_member_status:request.user.id == True %}
                {% block post_content %} {% endblock %}
                {% block member_list %} {% endblock %}
            {% endif %}
        </div>


        {% include 'Groups/modals/_invite_new_member_modal.html' %}



        {% if group.user == request.user %}
        <script type="text/javascript">
            $(document).ready(function() {
                $("#update_group_btn").modalForm({
                    formURL: "{% url 'Groups:update_group' slug=group.slug %}"
                });

                $('.btn-invite-new-member').on('click', function(e){
                    e.preventDefault();
                    let newUser = $('.input-new-user').val();
                    let urlInvite = $('.form-invite-user').data('url');
                    $.ajax({
                        url: urlInvite,
                        data: {
                        'name': newUser
                        },
                        dataType: 'json',
                        success: function(data) {
                            $('.invite-message-action').empty();
                            $('.invite-message-action').append(data.message);
                            if(data.code == 3) location.reload();
                        }
                    });
                });
            });
        </script>
        {% endif %}
    </div>
{% endblock %}
