{% extends 'Groups/group_detail.html' %}

{% load my_extras %}
{% load icons %}


{% block member_list %} 
    <div class="container">

        <div class="row">
            <div class="col-auto mr-auto">
                <h3>Total: {{ group.slug|approved_members_list|length|add:'-1' }}</h3>
            </div>
            {% if group.user == request.user %}
            <div class="col-auto">
                <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModal">
                    {% icon 'user-plus' %} Ver pendientes ({{ group.slug|not_approved_members_list|length }})
                </button>
            </div>
            {% endif %}
        </div>
    
        <div class="row">
            <div class="col">
                <ul class="list-group">
                {% for user in group.members.all %}
                    {% if user != group.user and group.slug|check_for_member_status:user.id %}
                        {% include 'Groups/_generic_member_list.html' %}
                    {% endif %}
                {% empty %}
                    <p>No hay usuarios</p>
                {% endfor %}
                </ul>
            </div>
        </div>


    </div>

    {% include 'Groups/modals/_request_membership_modal.html' %}



{% endblock %}
