{% extends 'Groups/group_base.html' %}
{% load icons %}

{% block group_content %}

    <div>
        <form id="searchForm" class="" method="GET" action="{% url 'Groups:search' %}">
            <div class="form-group">
                <div class="input-group mb-3">
                    <input name="group" type="text" class="form-control" placeholder="Buscar grupos" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button id="searchButton" class="btn btn-outline-info" type="submit">{% icon 'search' %}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <br>
    <h4>Total: {{ group_list.all|length }}</h4>
    <div class="bg-dark">
        {% for group in group_list %}
            {% include 'Groups/_generic_list.html' %}
        
        {% empty %}
        <h2>No se encontraron grupos</h2>
        {% endfor %}
    </div>

{% endblock %}