{% extends 'base.html' %}

{% block content %}
    {% if group.user == request.user %}
    <hr>
    <h1>¿Estas seguro que deseas eliminar el grupo <b>{{ group.name }}</b>?</h1>
    <h3>Miembros: {{ group.members.all|length }}</h3>
    <h3>Posts: 422</h3>
    <hr>
    <form method="post">
        {% csrf_token %}
        <button  class="btn btn-danger" type="submit">Eliminar</button>
        <a class="btn btn-primary" href="{% url 'Groups:detail_group' slug=group.slug %}">Cancelar</a>
    </form>
    {% endif %}
{% endblock %}