{% extends 'base.html' %}



{% block content %}
{% load icons %}

<div class="container">
    <div class="d-flex justify-content-center">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button id="create_group_btn" class="btn btn-outline-info">
                {% icon 'plus-circle' %} Nuevo grupo
            </button>
            <a class="btn btn-outline-info" href="{% url 'Groups:user_list_group' request.user.pk %}">
                {% icon 'users' %} Mis grupos ({{ request.user.group_list.all|length }})
            </a>
            <a class="btn btn-outline-info" href="{% url 'Groups:index' %}">
                {% icon 'users' %} Todos
            </a>
        </div>
    </div>
</div>

    <hr>
    <div class="">
    {% block group_content %}{% endblock %}
    </div>


{% endblock %}