{% extends 'Groups/group_detail.html' %}

{% block post_content %}
    <div class="col">
        <ul class="list-group">
        {% for post in group.posts.all %}
            {% include 'Posts/_generic_post_list.html' %}    
        {% endfor %}
        </ul>
    </div>
{% endblock %}