{% extends 'Groups/group_base.html' %}
{% load icons %}
{% load my_extras %}


{% block group_content %}

    <div class="bg-dark">
        <h2>Los grupos que he creado</h2>
        {% for my_groups in user.group_list.all %}
            {% if my_groups.group.user == user %}
                {% with group=my_groups.group %}
                    {% include 'Groups/_generic_list.html' %}
                {% endwith %}
            {% endif %}
        {% empty %}
            <h4>No hay registro</h4>
        {% endfor %}
    </div>
    <hr>
    <div class="bg-dark">
        <h2>Los grupos a los que pertenezco</h2>
        {% for other_groups in user.pk|approved_group_list %}
            {% if other_groups.group.user != user %}    
                {% with group=other_groups.group %}
                    {% include 'Groups/_generic_list.html' %}
                {% endwith %}
            {% endif %}
        {% empty %}
            <h4>No hay registro</h4>
        {% endfor %}
    </div>

{% endblock %}