<!-- Modal -->
<div class="modal fade" id="inviteMemberModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Invitar</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form action="#" class="form-invite-user" data-url="{% url 'Groups:invite_new_member' slug=group.slug %}" method="POST">
            {% csrf_token %}
            <div class="modal-body">
                <div class="form-group row">
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Usuario</label>
                    <div class="col-sm-10">
                        <input type="text" name='user' class="form-control form-control-sm input-new-user" id="user" placeholder="Ingrese usuario a invitar">
                    </div>
                </div>
                <div>
                    <p class="invite-message-action text-danger"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-info btn-invite-new-member">Invitar</button>
                <button type="button" class="btn btn-secondary btn-close-invite" data-dismiss="modal">Cerrar</button>
            </div>
        </form>
        </div>
    </div>
</div>