body {
    font-family: 'Audiowide';
    background-color: #2f404d;
    color: aliceblue
}


p {
  font-family: 'Baloo Paaji 2', cursive;

  color: aliceblue
}

.post-input-text{
  background-color: grey;
}

.content-block-div {
  background-color: #343a40;
  margin-top: 48px;
  padding-top: 12px;
  padding-left: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  border-radius: 7px;

}

.footer-essauco {
  background-color: #2f4f4f;
  color: white;
  margin-top: 32px;
}

footer {
}

.comment-content-div {
  padding-top: 12px;
  padding-left: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  margin-bottom: 24px;
  
}

.bg-sec{
  background: #262a2e;
  color: #e2dddf;
}

.generic_nav_buttons-div {
  padding-bottom: 48px;
}

.comment-button-div {
  padding-bottom: 24px;
}

/************************************************/
/********************NAV BAR*********************/
/*** https://work.smarchal.com/twbscolor/css/ ***/
/************************************************/

.navbar {
    background-color: #3d898d;
  }
  .navbar .navbar-brand {
    color: #e2dddf;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #85ebd9;
  }
  .navbar .navbar-text {
    color: #e2dddf;
  }
  .navbar .navbar-text a {
    color: #85ebd9;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #85ebd9; 
  }
  .navbar .navbar-nav .nav-link {
    color: #e2dddf;
    border-radius: .25rem;
    margin: 0 0.25em;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #85ebd9;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #85ebd9;
    background-color: #2f404d;
  }
  .navbar .navbar-toggle {
    border-color: #2f404d;
  }
  .navbar .navbar-toggle:hover,
  .navbar .navbar-toggle:focus {
    background-color: #2f404d;
  }
  .navbar .navbar-toggle .navbar-toggler-icon {
    color: #e2dddf;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #e2dddf;
  }
  .navbar .navbar-link {
    color: #e2dddf;
  }
  .navbar .navbar-link:hover {
    color: #85ebd9;
  }
  
  @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #e2dddf;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #85ebd9;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #85ebd9;
      background-color: #2f404d;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #e2dddf;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #85ebd9;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #85ebd9;
      background-color: #2f404d;
    }
  }
  
  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #e2dddf;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #85ebd9;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #85ebd9;
      background-color: #2f404d;
    }
  }
  
  @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #e2dddf;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #85ebd9;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #85ebd9;
      background-color: #2f404d;
    }
  }
  
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #e2dddf;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #85ebd9;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #85ebd9;
    background-color: #2f404d;
  }


/************************************************/
/********************NAV BAR*********************/
/************************************************/





/************************************************/
/******************** MODAL *********************/
/************************************************/


.modal-content{
  background-color: #2f404d;
}
.btn-info{
  background-color: #85ebd9;
}


/************************************************/
/******************** DEFAULT_LINK *********************/
/************************************************/



/************************************************************
**************** BOOTSTRAP SELECT BACK GROUND COLOR *********
***********************************************************/
.dark_select_option {
  color: #2f404d !important;
  /* background: #2f404d !important; */
}

/************************************************************
**************** MEDIUM EDITOR TEXT AREA GET OUT OF DIV *********
***********************************************************/


.centerstage{
  width: 100px;
  /* Control de la altura con base en el texto del div*/
  height: auto;
  word-wrap: break-word;
}




/************************************************************
**************** Bootstrap botton info change color *********
***********************************************************/

.btn-outline-info {
  color: #85ebd9;
  background-color: #2f404d;
  border-color: #3d898d;
}

.btn-outline-info:hover {
  color: #fff;
  background-color: #3d898d;
  border-color: #85ebd9;
}

.btn-outline-info:focus, .btn-outline-info.focus {
  box-shadow: 0 0 0 3px #3d898d;
}

.btn-outline-info.disabled, .btn-outline-info:disabled {
  background-color: #3d898d;
  border-color: #3d898d;
}

.btn-outline-info:active, .btn-outline-info.active,
.show > .btn-outline-info.dropdown-toggle {
  background-color: #85ebd9;
  background-image: none;
  border-color: #85ebd9;
}


/************************************************************
**************** ALL <a></a> *********************************
***********************************************************/

a{
  color: #3d898d;
}

a:hover {
  color: #85ebd9;
}

ul{
  color: #3d898d;
}

ul:hover {
  color: #85ebd9;
}

