{% load my_extras %}
<div class="form-group">
    <div class="form-check">
        {% if request.user.pk|check_for_follow:user.pk %}
        <input class="form-check-input followCheck" type="checkbox" id="gridCheck_{{ user.pk }}" data-url="{% url 'Accounts:follow' user.pk %}" checked>
        {% else %}  
        <input class="form-check-input followCheck" type="checkbox" id="gridCheck_{{ user.pk }}" data-url="{% url 'Accounts:follow' user.pk %}">
        {% endif %}
        <label class="form-check-label" for="gridCheck_{{ user.pk }}">
            Seguir
        </label>
    </div>
</div>
<script>
    $('#gridCheck_{{ user.pk }}').on('change', function(e){
        urlFollow = $(this).data('url')

        $.ajax({
            url: urlFollow,
            dataType: 'json',
        });
        
    });
</script>