{% load my_extras %}
{% load icons %}


<form action="{% url 'Accounts:create_message_wall' user.pk %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <p class="">
            <textarea name="text" class="form-control" id="wall-message" rows="3" placeholder="Deja un mensaje en este muro" maxlength="256"></textarea>
        </p>
    </div>
    <button type="submit" class="btn btn-outline-info">Enviar</button>
</form>
<hr>


{% for wall_message in user.messages_wall.all %}
<div class="wall_message_frame_{{ wall_message.pk }}">
    <div class="media">
        <img src="" class="mr-3" alt="...">
        <div class="media-body">
            <div class="row">
                <div class="col-auto mr-auto">
                    <h5 class="mt-0 col-auto">
                        <a href="{% url 'Accounts:detail_profile' wall_message.user_writer.pk %}">
                            {{ wall_message.user_writer }}
                        </a>
                    </h5>
                </div>
                <div class="col-auto">
                    {% if wall_message.user_writer == request.user  %}
                    <button class="btn btn-warning btnEditWallMessage" data-url="{% url 'Accounts:update_wall_message' object_type=1 pk=wall_message.pk %}" data-text="{{ wall_message.text }}" data-id="{{ wall_message.pk }}" data-toggle="modal" data-target="#updateWallMessage">{% icon 'pencil' %}</button>
                    {% endif %}
                    {% if wall_message.user_writer == request.user or wall_message.user_wall == request.user %}
                    <button class="btn btn-danger btnDeleteWallMessage" data-url="{% url 'Accounts:delete_wall_message' object_type=1 pk=wall_message.pk %}" data-id="{{ wall_message.pk }}">{% icon 'times' %}</button>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <p class="col centerstage wall_message_{{ wall_message.pk }}">
                    {{ wall_message.text|safe }}
                </p>
            </div>
            <span class="badge badge-primary badge-pill">{% icon 'calendar' %} {{ wall_message.pk|check_for_wall_modifications:1 }}</span>
            {% for comment in wall_message.comments.all %}
            <div class="media mt-3 bg-sec wall_comment_frame_{{ comment.pk }}">
                <a class="mr-3" href="#">
                    <img src="" class="mr-3" alt="...">
                </a>
                <div class="media-body">
                    <h5 class="mt-0">
                        <a href="{% url 'Accounts:detail_profile' comment.user_writer.pk %}">
                            {{ comment.user_writer }}
                        </a>
                    </h5>
                    <div class="row">
                        <p class="col centerstage wall_message_comment_{{ comment.pk }}">
                            {{ comment.text }}
                        </p>
                    </div>
                    <span class="badge badge-primary badge-pill">{% icon 'calendar' %} {{ comment.pk|check_for_wall_modifications:2 }}</span>
                    <div>
                        {% if comment.user_writer == request.user  %}
                        <a href="" class="btnEditWallMessage" data-url="{% url 'Accounts:update_wall_message' object_type=2 pk=comment.pk %}" data-text="{{ comment.text }}" data-id="{{ comment.pk }}" data-toggle="modal" data-target="#updateWallMessage">[Editar]</a>
                        {% endif %}
                        {% if comment.user_writer == request.user or wall_message.user_wall == request.user %}
                        <a href="" class="btnDeleteWallMessage" data-url="{% url 'Accounts:delete_wall_message' object_type=2 pk=comment.pk %}" data-id="{{ comment.pk }}">[Eliminar]</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br>
    <div>
        <form action="{% url 'Accounts:create_message_comment' wall_message.pk %}" method="POST">
            {% csrf_token %}
            <div class="input-group mb-3">
                <input type="text" name="text" class="form-control" placeholder="Escribe un comentario" aria-label="Recipient's username" aria-describedby="button-addon_{{ wall_message.pk }}" maxlength="256">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="input" id="button-addon_{{ wall_message.pk }}">Comentar</button>
                </div>
            </div>              
        </form>
    </div>
</div>

{% empty %}
<p>No hay mensajes en este muro</p>
{% endfor %}


<script>
    $('.btnEditWallMessage').on('click', function(e){
        let url = $(this).data('url');
        let text = $(this).data('text');
        
        let id = $(this).data('id');
        $('#wallMessage-textArea').val('');
        $('#wallMessage-textArea').val(text);
        $('#btnSaveWallMessage').data('url', url);
        $('#btnSaveWallMessage').data('id', id);
    });

    $('.btnDeleteWallMessage').on('click', function(e){
        let url = $(this).data('url');
        let id = $(this).data('id');
        $.ajax({
            url: url,
            dataType: 'json',
            success: function(data){
                switch (data.object_type) {
                    case 1:
                        $('.wall_message_frame_'+id).remove();
                        break;
                    case 2:
                        $('.wall_comment_frame_'+id).remove();
                        break;
                }
            },
        });
    });

    $(document).ready(function(){
        $('#btnSaveWallMessage').on('click', function(e){
            e.preventDefault();
            let urlUpdate = $(this).data('url');
            let id_message =  $(this).data('id');
            let new_text = $.trim($("#wallMessage-textArea").val());
            if(new_text != ""){
                $.ajax({
                    url: urlUpdate,
                    dataType: 'json',
                    method: 'POST',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'text': new_text,
                    },
                    success: function(data){
                        switch (data.object_type) {
                            case 1:
                                $('.wall_message_'+id_message).empty();
                                $('.wall_message_'+id_message).text(data.text);
                                break;
                            case 2:
                                $('.wall_message_comment_'+id_message).empty();
                                $('.wall_message_comment_'+id_message).text(data.text);
                                break;
                        }
                        $('#updateWallMessage').modal('toggle');
                        $('#wallMessage-textArea').val('');
                    }
                });
            }
            else{
                alert('No puede ser un texto en blanco');
            }
        });
    });
</script>