{% load icons %}
{% load my_extras %}
<div class="card bg-dark" style="width: 12rem;">
    <div class="card-body">
        <a href="{% url 'Accounts:detail_profile' user.pk %}">
            <img src="https://1.bp.blogspot.com/-J672hhVil2c/VcRmz4BdOPI/AAAAAAAAMw4/w51C3ULbdRU/s200/blogger-re-size-crop-photo.jpg" class="card-img-top" alt="...">
        </a>
        <h5 class="card-title"><a href="{% url 'Accounts:detail_profile' user.pk %}">{{ user }}</a></h5>
        <p class="card-text">
            <a class="text-muted" href="{% url 'Accounts:person_post_list' user.pk %}">
            Posts ({{ user.pk|check_for_personal_posts|length }})
            </a>
        </p>
        <div>
            {% include 'Accounts/_follow_frame.html' %}
        </div>
    </div>

</div>

