{% extends 'Accounts/profile_base.html' %}


{% block posts_content %}
    <div class="row">
        <div class="col">
            <ul class="list-group">
            {% for post in user.posts.all %}
                {% if post.group == None %}
                    {% include 'Posts/_generic_post_list.html' %}    
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}