{% extends 'base.html' %}
{% load icons %}
{% load my_extras %}



{% block content %}
    <div class="bg-dark container">
        <hr>

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-auto">
                    <img class="" src="https://1.bp.blogspot.com/-J672hhVil2c/VcRmz4BdOPI/AAAAAAAAMw4/w51C3ULbdRU/s200/blogger-re-size-crop-photo.jpg" alt="Generic placeholder image img-thumbnail">
                    <div>
                        <h1 class="text-center">{{ user.username }}</h1>
                        <a href="{{ user.email }}"><p class="text-center">{{ user.email }}</p></a>
                    </div>
                    <div class="d-flex justify-content-center">
                        {% include 'Accounts/_follow_frame.html' %}
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="container d-flex justify-content-center">
            <div class="row btn-group" role="group" aria-label="Button group with nested dropdown">
                <a class="btn btn-outline-info" href="{% url 'Accounts:person_post_list' user.pk %}">
                    {% icon 'pencil-square-o' %} Posts ({{ user.pk|check_for_personal_posts|length }} )
                </a>
                <a class="btn btn-outline-info" href="{% url 'Accounts:person_group_list' user.pk %}">
                    {% icon 'users' %} Grupos ({{ user.created_groups.all|length }})
                </a>
                <button class="btn btn-outline-info" data-toggle="modal" data-target="#moreInfoModal">
                    {% icon 'info-circle' %} Ver mas
                </button>
            </div>
        </div>
        <hr>
    
        <div class="container">
            {% block profile_content %} {% endblock %}
            {% block posts_content %} {% endblock %}
            {% block groups_content %} {% endblock %}
        </div>
    
        

    </div>    
    

    {% include 'Accounts/modals/_more_info.html' %}
    {% include 'Accounts/modals/_update_wall_message.html' %}



{% endblock %}

