{% extends 'base.html' %}
{% load icons %}


{% block content %}
    <div class="container bg-dark">
        <br>
        <div class="">
            <div class="row justify-content-md-center">
                <div class="col-md-auto">
                    <img class="" src="" alt="Generic placeholder image img-thumbnail">
                    <div>
                        <h1 class="text-center">{{ request.user.username }} <a data-id="{% url 'Accounts:update_profile' request.user.pk %}" id="update_profile"  class="update_profile_btn" href="#">{% icon 'cog' %}</a></h1>
                        <a href="{{ user.email }}"><p class="text-center">{{ request.user.email }}</p></a>
                    </div>
                </div>
            </div>
        </div>
        <div class=" d-flex justify-content-center">
            <div class="row">
                <a class="btn btn-outline-info" href="{% url 'Posts:personal_post_list' %}">{% icon 'pencil-square-o' %} Posts ({{ user.posts.all|length }})</a>
                <a class="btn btn-outline-info" href="{% url 'Posts:liked_post_list' %}">{% icon 'thumbs-up' %} Me gustan ({{ user.user_post_likes.all|length }})</a>
                <a class="btn btn-outline-info" href="{% url 'Groups:user_list_group' request.user.pk %}">{% icon 'users' %} Grupos ({{request.user.group_list.all|length}})</a>
                <a class="btn btn-outline-info" href="{% url 'Accounts:follow_list' %}">{% icon 'rocket' %} Sugiendo ({{ request.user.following_list.all|length }})</a>
                <a class="btn btn-outline-info" href="{% url 'Accounts:list_user_links' request.user.pk %}">{% icon 'link' %} Links</a>
            </div>
        </div>
        <hr>
        <div>
            {% block profile_content %} {% endblock %}
            {% block follow_list_content %} {% endblock %}
            {% block group_list_content %} {% endblock %}
            {% block favorite_list_content %} {% endblock %}
            {% block user_link_content %} {% endblock %}
        </div>

    </div>
    

    
{% endblock %}

<div>

    {% block post_content %} {% endblock %}
    
</div>


