{% extends 'Accounts/user_base.html' %}
{% load icons %}

{% block user_link_content %}
<div class="bg-dark">
    <div class="accordion" id="accordionExample">
        <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Nuevo link
        </button>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <form class="form-inline" action="{% url 'Accounts:new_user_link' %}" method="post">
                {% csrf_token %}
                <div class="form-group mb-2">
                    <input class="form-control" type="url" name="url" id="url" placeholder="https://ejemplo.com" pattern="https://.*" size="30" required>
                </div>
                <button type="submit" class="btn btn-primary mb-2">Agregar</button>
            </form>
        </div>
        </div>
    </div>
</div>

<div>
    <table class="table table-hover table-dark">
        <tbody>
            {% for link in user.links.all %}
            <tr class="trLink_{{ link.pk }}">
                <td>
                    <input data-id="{{ link.pk }}" class="form-control linkText linkText_{{ link.pk }}" type="text" name="" value="{{ link.url }}">
                </td>
                <td>
                    <button data-id="{{ link.pk }}" data-url="{% url 'Accounts:update_user_link' link.pk %}" class="btn btn-warning btn-sm updateUrl updateUrl_{{ link.pk }}" disabled>
                        {% icon 'pencil' %}
                    </button>
                    <a data-url="{% url 'Accounts:delete_user_link' link.pk %}" data-id="{{ link.pk }}" class="btn btn-danger btn-sm deleteUrl">
                        {% icon 'trash' %}
                    </a>
                </td>
            </tr>
            {% empty %}
            <p>No existe ningun link para esta cuenta</p>
            {% endfor %}
        </tbody>
    </table>
</div>


<script type="text/javascript">



    $('.linkText').on('change', function(e){
    let id = $(this).data('id');
        $('.updateUrl_'+id).prop("disabled", false);
    });

    $('.updateUrl').on('click', function(e){
        let url = $(this).data('url');
        let id = $(this).data('id');
        let linkText = $('.linkText_'+id).val();
        $.ajax({
            url: url,
            method: 'POST',
            dataType: 'json',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'url': linkText
            },
            success: function(){
                $('.updateUrl_'+id).prop("disabled", false);
                alert('Url actualizada exitosamente');
            }
        });
    });


    $('.deleteUrl').on('click', function(e){
        let url = $(this).data('url');
        let id = $(this).data('id');
        $.ajax({
            url: url,
            method: 'POST',
            dataType: 'json',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            success: function(){
                $('.trLink_'+id).remove();
                alert('Url eliminada exitosamente');
            }
        });
    });

    
</script>

{% endblock %}
