{% extends 'base.html' %}
{% load icons %}
{% load my_extras %}



{% block content %}
<div>
    <form id="searchForm" class="" method="GET" action="{% url 'Accounts:search' %}">
        <div class="form-group">
            <div class="input-group mb-3">
                <input name="username" type="text" class="form-control" placeholder="Buscar usuarios" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button id="searchButton" class="btn btn-outline-info" type="submit">{% icon 'search' %}</button>
                </div>
            </div>
        </div>
    </form>
</div>
<br>
<h2>Lista de usuarios</h2>
<div class="row row-cols-1 row-cols-md-3">
    {% for user in user_list %}
        {% include 'Accounts/_user_frame.html' %}
    {% empty %}
        <li>No hay usuarios.</li>
    {% endfor %}
</div>



{% endblock %}