{% extends 'base.html' %}

{% block content %}
<hr>
<h2>¿De que se trata este sitio?</h2>
<div>
    <br>
    <p>
        {{ intro }}
    </p>
    <p>
        {{ objetivo }}
    </p>
    <p>
        {{ lorem }}
    </p>
</div>
<div>
    <h3>
        Te invitamos a que <a href=""> te unas</a> a nuestra comunidad
    </h3>
</div>
{% endblock %}