<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
{% load icons %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ form.media }}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% bootstrap_messages %}
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    {# GOOGLE FONTS #}
    <link href="https://fonts.googleapis.com/css?family=Audiowide&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji+2&display=swap" rel="stylesheet">
    {# Font Awesome CSS #}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/master.css'%}">
    {# MEDIUM STYLE EDITOR #}
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
    <title>TecnHolistyc</title>
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark nav">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Posts:index' %}">{% icon 'pencil' %} Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Groups:index' %}">{% icon 'users' %} Grupos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Accounts:list_profiles' %}">{% icon 'rocket' %} Personas</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="{% url 'index' %}">{% icon 'empire' %} T3cnH0listyc {% icon 'rebel' %}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Accounts:user_profile' pk=request.user.pk %}">{% icon 'user' %} Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">{% icon 'sign-out' %} Cerrar sesion</a>
                </li>
                {% else %}
                <li class="login_button nav-item">
                    <a class="nav-link" href="#">Entrar</a>
                </li>
                <li class="signup_button nav-item">
                    <a class="nav-link" href="#">Registrarse</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="content-block-div container">
        {% block content %}
        
        {% include "_modal.html" %}
        

        {% endblock %}
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
</body>
<br>
<footer>
    <ul class="nav fixed-bottom justify-content-center footer-essauco">
        <li class="nav-item">
            <a class="nav-link active a-footer" href="http://essau.co">[ESSAU.CO]</a>
        </li>
    </ul>
</footer>








<script type="text/javascript">
    $(document).ready(function() {
    
        $(".login_button").modalForm({
            formURL: "{% url 'login' %}"
        });

        $(".signup_button").modalForm({
            formURL: "{% url 'signup' %}"
        });
    
    });
</script>

{% if user.is_authenticated %}
<script type="text/javascript">
    $(document).ready(function() {


        $("#qupdate_profile").each(function () {
            $(this).modalForm({formURL: $(this).data('id')});
        });

        $(".update_profile_btn").modalForm({
            formURL: "{% url 'Accounts:update_profile' user.profile.pk %}"
        });

        $("#create_group_btn").modalForm({
            formURL: "{% url 'Groups:create_group' %}"
        });
    
    });
</script>
{% endif %}

</html>