{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}
    
    <div>
        <h3>Bienvenido {{ user.username }}</h3>
        <p>Ahora que eres miembro de la comunidad te invitamos a que participes en ella.
            Puedes <a href="">crear nuevos posts</a> donde expreses tus conocimientos, 
            ideas u opiniones referente a diferentes topicos relacionados con la tecnologia.
            Tambien puedes comentar en <a href="">posts creados por otros usuarios</a>.
        </p>
        <p>
            Si te interesa puedes unirte a un grupo o crearlo, alli los temas de los cuales 
            se hablan seran un poco mas especificos, pero ten en cuenta que algunos grupos son 
            cerrados, donde solo el creador puede administrar sus miembros. De igual manera puedes 
            seguir a un usuario para estar atento a sus publicaciones.
        </p>
        <br>
    </div>
    <div>
        <div class="card-group text-dark">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Top posts</h5>
                    <p class="card-text"><small class="text-muted">Los posts mas gustados</small></p>
                    {% for post in posts %}
                    <p class="card-text text-dark"><a href="{% url 'Posts:detail_post' post.pk %}">{{ post.title }}</a></p>
                    {% endfor %}
                </div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Top grupos</h5>
                    <p class="card-text"><small class="text-muted">Los grupos con mas miembros</small></p>
                    {% for group in groups %}
                    <p class="card-text text-dark"><a href="{% url 'Groups:detail_group' group.slug %}">{{ group.name }}</a></p>
                    {% endfor %}
                </div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Top usuarios</h5>
                    <p class="card-text"><small class="text-muted">Los usuarios que mas escriben</small></p>
                    {% for user in users %}
                    <p class="card-text text-dark"><a href="{% url 'Accounts:detail_profile' user.pk %}">{{ user.username }}</a></p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <h2>¿De que se trata este sitio?</h2>
    <div>
        <br>
        <p>
            TecnHolistyc es un blog de discucion tecnologica, nosotros somos una comunidad 
            de geeks, hackers, gamers, creadores de contenido, artistas, cientificos y mucho mas.
        </p>
        <p>
            Buscamos un ambiente sano de buena argumentacion donde cualquiera pueda compartir 
            opiniones e ideas para la comunidad, principalmente orientados a la tecnologia, ya 
            sean cosas positivas, como negativas, pues tambien buscamos informarnos e informar
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute 
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
            deserunt mollit anim id est laborum
        </p>
    </div>
    <div>
        <h3>
            Te invitamos a que <a href=""> te unas</a> a nuestra comunidad
        </h3>
    </div>
    {% endif %}

    
{% endblock %}