{% load icons %}
    <li class="list-group-item list-group-item-action list-group-item-dark d-flex justify-content-between align-items-center">
        <div class="container">

            <div class="row">
                <div class="col-auto mr-auto">
                    <a href="{% url 'Posts:detail_post' post.pk %}">[{{ post.title }}]</a>
                </div>
                <div class="col-auto">
                {% include 'Posts/_generic_badge_info_items.html' %}

                </div>
            </div>
        </div>
    </li>
