{% load icons %}
{% load my_extras %}
<div class="comment-content-div text-white bg-dark">
    <div class="media">
        <img src="https://1.bp.blogspot.com/-J672hhVil2c/VcRmz4BdOPI/AAAAAAAAMw4/w51C3ULbdRU/s200/blogger-re-size-crop-photo.jpg" class="mr-3" alt="..." style="width: 64px;">
        <div class="media-body">
            <div class="row">
                <div class="col-auto mr-auto">
                    <h5 class="mt-0">
                        <a href="{% url 'Accounts:detail_profile' comment.user.pk %}">
                            {{ comment.user }}
                        </a>
                    </h5>
                </div>
                <div class="col-auto">
                {% if comment.user == request.user %}
                    <button class="update_comment_button btn btn-warning" data-id="{% url 'Posts:update_comment' comment.pk %}">{% icon 'pencil' %}</button>
                {% endif %}
                {% if comment.user == request.user or comment.post.user == request.user %}
                    <button class="delete_comment_button btn btn-danger" data-id="{% url 'Posts:delete_comment' comment.pk %}">{% icon 'times' %}</button>
                {% endif %}
                </div>
            </div>
            <div class="row">
                <p class="col centerstage">
                    {{ comment.text }}
                </p>
            </div>
            <span class="badge badge-primary badge-pill">{% icon 'calendar' %} {{ comment.pk|check_for_comment_modifications }}</span>
        </div>
    </div>
</div>