{% load icons %}

<div class="col-auto">
    <span class="badge badge-primary badge-pill">{% icon 'clock-o' %} {{ post.created_at|date:'j/n/y g:i A' }}</span>
    <a href="{% url 'Accounts:detail_profile' post.user.pk %}"><span class="badge badge-light badge-pill">{% icon 'user' %} {{ post.user }}</span></a>
    {% if post.group %}
    <a href="{% url 'Groups:posts_group' slug=post.group.slug %}"><span class="badge badge-light badge-pill">{% icon 'users' %} {{ post.group }}</span></a>
    {% endif %}
    <span class="badge badge-danger badge-pill">{% icon 'tag' %} {{ post.get_category_display }}</span>
    <span class="badge badge-warning badge-pill badge-like-post">{% icon 'thumbs-up' %} {{ post.likes.all|length }}</span>
    <span class="badge badge-secondary badge-pill">{% icon 'comments' %} {{ post.comments.all|length }}</span>
</div>