{{ form.media }}

<div class="jumbotron text-white bg-dark">
    <h1 class="text-center">Nuevo post</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="id_title">Titulo</label>
                {{ form.title }}
            </div>
            <div class="form-group col-md-6">
                <label for="id_category">Categoria</label>
                {{ form.category }}                  
            </div>
        </div>
        <label for="medium_text_area">Texto: 
            <p class="font-italic">*Tip: selecciona el texto que quieres modificar con algun estilo.</p>
        </label>
        <div id="bg-dark text-white" class="">
            <p class="">
                {{ form.text|safe }}
            </p>
        </div>
        <button type="submit" class="btn btn-primary">Publicar</button>
        </div>
    </form>
</div>