{% load icons %}
{% load my_extras %}

<div class="jumbotron jumbotron-fluid text-white bg-dark">
    <div class="generic_nav_buttons-div d-flex justify-content-center">
        {% include 'Posts/_generic_badge_info_items.html' %}
    </div>
    <div class="container">
        <h1 class="display-4" style="word-wrap: break-word;">{{ post.title }}</h1>
        {% if post.user == request.user %}
        <p>
            <a href="{% url 'Posts:update_post' post.pk %}">[Editar]</a>
            <a href="{% url 'Posts:delete_post' post.pk %}">[Eliminar]</a>
        </p>
        {% endif %}
        <div class="">
            <div class="container">
                <div class="row">
                    <div class="col centerstage">
                        {{ post.text_html|safe }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-auto mr-auto">
                    <b>
                        Creado el {{ post.created_at|date:'l, d/M/Y'}} a las {{ post.created_at|date:'h:i:s A'}}
                    </b>
                </div>
                <div class="col-auto">
                    <a class="btn btn-outline-warning btn-like-post" href="#" data-url="{% url 'Posts:post_like' post.pk %}">
                        {% if request.user.pk|check_for_liked_post:post.pk %}
                            {% icon 'thumbs-down' %} Ya no me gusta 
                        {% else %}
                            {% icon 'thumbs-up' %} Me gusto 
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    {% if user.is_authenticated %}
    <div class="comment-button-div">
        <button id="create_comment_btn" class="btn btn-outline-light">
            {% icon 'comment' %} Agregar comentarios
        </button>
    </div>
    {% endif %}
    {% for comment in post.comments.all %}
        {% include 'Posts/_generic_comment_frame.html' %}
    {% empty %}
    <h3>No hay comentarios</h3>
    {% endfor %}
</div>

{% if user.is_authenticated %}
    <script type="text/javascript">
        $(document).ready(function() {

            $('.btn-like-post').on('click', function(e){
                e.preventDefault();
                let textButton = '';
                let textBadgeLikePost = '';
                $.ajax({
                    url: $(this).data('url'),
                    dataType: 'json',
                    success: function (data) {
                        textBadgeLikePost = '{% icon "thumbs-up" %} '+ data.likes;
                        if (data.status == 1) {
                            textButton = '{% icon "thumbs-down" %} Ya no me gusta';
                            $('.btn-like-post').text('');
                            $('.btn-like-post').append(textButton);
                            $('.badge-like-post').text('');
                            $('.badge-like-post').append(textBadgeLikePost);
                        }
                        else {
                            textButton = '{% icon "thumbs-up" %} Me gusto';
                            $('.btn-like-post').text('');
                            $('.btn-like-post').append(textButton);
                            $('.badge-like-post').text('');
                            $('.badge-like-post').append(textBadgeLikePost);
                        }
                    }
                });

            });

            $("#create_comment_btn").modalForm({
                formURL: "{% url 'Posts:create_comment' pk=post.pk %}"
            });

            $(".update_comment_button").each(function () {
                $(this).modalForm({formURL: $(this).data('id')});
            });

            $(".delete_comment_button").each(function () {
                $(this).modalForm({formURL: $(this).data('id')});
            });

        });
    </script>
{% endif %}
