{% load icons %}

{% if user.is_authenticated %}


    <div class="d-flex justify-content-center">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#selectCreatePlaceModal">
                {% icon 'pencil' %} Nuevo post
            </button>
            <a class="btn btn-outline-info" href="{% url 'Posts:index' %}">
                {% icon 'list-alt' %} Todos
            </a>
        
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ver mas
                </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="{% url 'Posts:personal_post_list' %}">
                    {% icon 'user' %} Mis posts
                </a>
                
                <a class="dropdown-item" href="{% url 'Posts:follow_post_list' %}">
                    {% icon 'rocket' %} Personas sigo
                </a>
        
                <a class="dropdown-item" href="{% url 'Posts:liked_post_list' %}">
                    {% icon 'thumbs-up' %} Me gustan
                </a>
                
                <a class="dropdown-item" href="{% url 'Posts:group_post_list' %}">
                    {% icon 'users' %} Grupos posts
                </a>
            </div>
            </div>
        </div>
            
    </div>


{% endif %}
