{% extends 'Posts/post_base.html' %}
{% load icons %}

{% block post_content %}

    <div>
        <form id="searchForm" class="" method="GET" action="{% url 'Posts:search' %}">
            <div class="form-group">
                <div class="input-group mb-3">
                    <input name="post" type="text" class="form-control" placeholder="Buscar posts" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button id="searchButton" class="btn btn-outline-info" type="submit">{% icon 'search' %}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <ul class="list-group">
            {% for post in post_list %}
                {% include 'Posts/_generic_post_list.html' %}    
            {% empty %}
            <h2>No se encontro nungun post</h2>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}