{% extends 'base.html' %}


{% block content %}
    {% if post.user == request.user %}
    <h3>¿Estas seguro que deseas eliminar el post <b>{{ post.title }}</b>?</h3>
    <br>
    <form method="post">
        {% csrf_token %}
        <button  class="btn btn-danger" type="submit">Eliminar</button>
        <a class="btn btn-primary" href="{% url 'Posts:detail_post' post.pk %}">Cancelar</a>
    </form>
    {% endif %}
{% endblock %}